.menu {
  min-width: 405px; 
  @media (max-width: $mobile) {
    flex-direction: column;
    order: 3;
    padding-left: 0;
  }
}

.btn-search {
  min-width: 278px;
  min-height: 25px;
}

.btn-send {
  min-height: 56px;
}

.bg-banner {
  background-image: url("../images/banner.png");
}

.header-form {
  max-width: 570px;
  @media (max-width: $mobile) {
    padding-bottom: 0;
  }
}

.form-input {
  min-width: 270px;
  min-height: 50px;
}

.form-input::placeholder {
  color: $white;
}

@media (max-width: $mobile) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-form {
    order: 2;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .logo {
    margin-bottom: 17px;
  }

  .menu-item {
    margin-bottom: 10px;
    &:first-child .menu-link {
      color: $gray;
    }
    &:nth-child(3) .menu-link {
      color: $white;
    }
  }

  .header-level-1 {
    margin-top: 69px;
    font-size: 30px;
  }

  .important-text {
    font-size: 18px;
  }

  .banner-text {
    font-size: 12px;
  }
}