$white: #FFFFFF;
$dark-gray: #3C3B3D;
$gray: #808080;
$light-gray: #CACACA;
$transparent-white: rgba(255, 255, 255, 0.1);
$green: #34C176;
$black: #08020D;
$dark-grey: #555555;
$grey: #8C8C8C;
$light-grey: #E9E9E9;
$orange: #F89202;
$red: #FF4157;
$dark-silver: #B8B8B8;
$silver: #EEEEEE;
$violet: #5328A1;
$brown: #95390C;
$desktop: 1280px;
$tablet-landscape: 1024px;
$tablet: 768px;
$iphone-6-plus: 425px;
$iphone-6: 375px;
$mobile: 320px;