.footer-menu {
  max-width: 534px;
  margin-bottom: 100px;
  padding-left: 0;
  list-style: none;
  
  @media (max-width: $iphone-6-plus) {
    margin-bottom: 0;
  }
}

.footer-bottom-menu{
  max-width: 534px;
}

@media (max-width: $tablet) {
  .footer-container {
    flex-wrap: wrap;
  }

  .footer-menu-container {
    flex-basis: 50%;
  }
  
  .footer-menu-container:last-child .footer-menu {
    max-width: 147px;
  }

  .footer-bottom-menu {
    flex-direction: column;
  }

  .footer-bottom-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer-menu-header {
  margin-top: 80px;
  margin-bottom: 30px;
  color: $light-gray;
  font-size: 18px;
}

@media (max-width: $iphone-6-plus) {
  .footer-container {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .footer-menu-header {
    margin-top: 40px;
  }

  .footer-menu-container:first-child .footer-menu-header {
    margin-top: 84px;
  }
}

@media (max-width: $mobile) { 
  .footer-container {
    width: 280px;
  }
}