.bg-banner {
  background-image: url("../images/banner.png");
  background-position: center;

  @media (max-width: $desktop) {
    background-position-x: -176px;
  }

  @media (max-width: $tablet-landscape) {
    background-size: cover;
  }

  @media (max-width: $iphone-6) {
    background-size: 1156px 738px;
  }
}

.header-level-1 {
  font-size: 60px;
  text-transform: uppercase;
}

.bg-banner-inner {
  background-image: url("../images/Morten Harket.png");
  background-position: center;

  @media (max-width: $desktop) {
    background-position-x: -660px;
  }

  @media (max-width: $tablet-landscape) {
    background-position-x: -1194px;
    background-size: 2200px 630px;
  }

  @media (max-width: $tablet) {
    background-position-x: -1374px;

    & .header-level-1 {
      margin-top: 90px;
      margin-bottom: 25px;
    }
  }
}

.header-form {
  max-width: 570px;

  @media (max-width: $tablet-landscape) {
    padding-bottom: 33px;
  }

  @media (max-width: $iphone-6-plus) {
    padding-bottom: 5px;
  }

  @media (max-width: $iphone-6) {
    padding-bottom: 21px;
  }
}

.form-input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;
  font-family: inherit;

  @media (max-width: $tablet) {
    flex-grow: 1;
  }
}

.form-input-transparent {
  background-color: $transparent-white;
  border-color: $transparent-white;
  border-style: solid;
  border-radius: 3px;
}

.form-input::placeholder {
  color: $white;
}

@media (max-width: $tablet-landscape) {
  .header-level-1 {
    font-size: 50px;
  }

  .important-text {
    font-size: 26px;
  }

  .banner-text {
    font-size: 17px;
  }
  
  .bg-banner-inner-subscribers {
    font-size: 17px;
  }
}

@media (max-width: $tablet) {
  .header-level-1 {
    margin-top: 59px;
    
    font-size: 45px;
  }

  .important-text {
    font-size: 24px;
  }

  .banner-text {
    font-size: 16px;
  }
}

@media (max-width: $iphone-6-plus) {
  .header-level-1 {
    font-size: 40px;
  }

  .important-text {
    font-size: 22px;
  }

  .banner-text {
    font-size: 14px;
  }

  .bg-banner-inner-subscribers {
    font-size: 16px;
  }
}

@media (max-width: $iphone-6) {
  .header-level-1 {
    font-size: 35px;
  }

  .important-text {
    font-size: 20px;
  }

  .banner-text {
    font-size: 13px;
  }

  .bg-banner-inner-subscribers {
    font-size: 15px;
  }
}

@media (max-width: $mobile) {
  .header-level-1 {
    font-size: 30px;
  }

  .important-text {
    font-size: 18px;
  }

  .banner-text {
    font-size: 12px;
  }

  .bg-banner-inner-subscribers {
    font-size: 14px;
  }
}

.btn-green {
  color: $white;
  background-color: $green;
}

.btn-rounded {
  border-radius: 50px;
}

.btn-dark-gray {
  background-color: $dark-gray;
}

.btn-borderless {
  border: none;
}

.btn-send {
  flex-grow: 1;
  min-height: 56px;
  font-weight: bold;
  font-size: 14px;
}

.btn-banner {
  display: inline-flex;
  align-items: center;
  width: 200px;
  min-height: 56px;
  padding-left: 19px;
  font-size: 14px;
}

.btn-violet {
  background-color: $violet;
}

.btn-brown {
  background-color: $brown;
}

@media (max-width: $mobile) {
  .btn-image {
    padding-right: 19px;
  }
}