.btn-send {
  min-height: 56px;
}

.bg-banner {
  background-image: url("../images/banner.png");

  @media (max-width: $tablet) {
    background-position-x: -176px;
  }

  @media (max-width: $iphone-6-plus) {
    background-size: 1156px;
  }
}

.bg-banner-inner {
  background-image: url("../images/Morten Harket.png");
}

.header-form {
  max-width: 570px;

  @media (max-width: $tablet-landscape) {
    padding-bottom: 44px;
  }
}

.form-input {
  min-width: 270px;
  min-height: 50px;

  @media (max-width: $iphone-6-plus) {
    flex-grow: 1;
  }
}

.form-input::placeholder {
  color: $white;
}

@media (max-width: $tablet-landscape) {
  .header-level-1 {
    font-size: 50px;
  }

  .important-text {
    font-size: 26px;
  }

  .banner-text {
    font-size: 17px;
  }
}

@media (max-width: $tablet) {
  .header-level-1 {
    margin-top: 59px;
    
    font-size: 45px;
  }

  .important-text {
    font-size: 24px;
  }

  .banner-text {
    font-size: 16px;
  }
}

@media (max-width: $iphone-6-plus) {
  .header-level-1 {
    font-size: 40px;
  }

  .important-text {
    font-size: 22px;
  }

  .banner-text {
    font-size: 14px;
  }
}

@media (max-width: $iphone-6) {
  .header-level-1 {
    font-size: 35px;
  }
  .important-text {
    font-size: 20px;
  }
  .banner-text {
    font-size: 13px;
  }
}

@media (max-width: $mobile) {
  .header-level-1 {
    font-size: 30px;
  }
  .important-text {
    font-size: 18px;
  }
  .banner-text {
    font-size: 12px;
  }
}