.app-link {
  max-width: 174px;
  min-height: 56px;

  @media (max-width: $iphone-6-plus) {
    max-width: none;
    min-height: 50px;
  }
}

@media (max-width: $tablet) {
  .app-container {
    flex-direction: column;
  }
}

@media (max-width: $iphone-6-plus) {
  .app-header {
    margin-top: 90px;

    font-size: 20px;
  }

  .app-container {
    flex-wrap: wrap;
    gap: 50px;
    & .col:last-child {
      flex-basis: auto;
      flex-shrink: 1;
      order: -1;

      text-align: center;
    }
  }

  .app-image {
    max-width: 100%;
    margin-left: 0;
  }

  .app-description:first-child {
    margin-top: 0;
  }

  .app {
    margin-bottom: 96px;
  }
}


.btn {
  min-width: 200px;
  min-height: 56px;
}