.subscribe-item {

  @media (max-width: $tablet-landscape) {
    margin-bottom: 50px;
  }

  @media (max-width: $iphone-6-plus) {
    padding-right: 20px;
    padding-left: 20px;

    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
  }

  @media (max-width: $iphone-6) {
    background-size: contain;
  }

  @media (max-width: $mobile) {
    margin-bottom: 0;
  }
  max-width: 350px;
  &:first-child {
    max-width: 352px;
  
    background-image: url("../images/subscribe_1.png");
  }
  &:nth-child(2) {
    background-image: url("../images/subscribe_2.png");
  }
  &:last-child {
    background-image: url("../images/subscribe_3.png");

    @media (max-width: $tablet-landscape) {
      margin: auto;
    }

    @media (max-width: $iphone-6-plus) {
      margin-bottom: 50px;
      padding-right: 15px;
      padding-left: 15px;
      .subscribe-link {
        max-width: 240px;
      }
    }
    @media (max-width: $mobile) {
      margin-bottom: 0; 
    }
  }
}

.subscribe-link {
  min-height: 68px;

  @media (max-width: $iphone-6-plus) {
    min-height: 55px;

    font-size: 12px;
  }
}

.news-author {
  max-width: 221px;

  @media (max-width: $iphone-6-plus) {
    max-width: 257px;
    margin-bottom: 25px;
  }
}

.news-link {
  max-width: 129px;
  min-height: 48px;

  @media (max-width: $iphone-6-plus) {
    max-width: none;
    min-height: 50px;
  }
}

.app-link {
  max-width: 174px;
  min-height: 56px;

  @media (max-width: $iphone-6-plus) {
    max-width: none;
    min-height: 50px;
  }
}

@media (max-width: $tablet-landscape) {
  .subscribe-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
}

@media (max-width: $tablet) {
  .subscribe-list {
    justify-content: space-between;
  }
}

@media (max-width: $tablet) {
  .news-image {
    margin: auto;
  }

  .news-article {
    flex-wrap: wrap;
    &:last-of-type .news-image {
      order: -1;
    }
  }

  .app-container {
    flex-direction: column;
  }
}

@media (max-width: $iphone-6-plus) {
  .subscribe-header {
    font-size: 20px;
  }

  .subscribe-list {
    justify-content: center;
  }

  .subscribe-item-header {
    margin-top: 20px;
    margin-bottom: 243px;

    font-size: 16px;
  }

  .subscribe-item-description {
    margin-top: 41px;
    margin-bottom: 65px;
  }

  .subscribe-description {
    margin-top: 0;

    font-size: 12px;
  }

  .news-header {
    margin-top: 44px;

    font-size: 20px;
  }

  .news-article {
    gap: 0;
    &:first-of-type {
      margin-bottom: 40px;
    }
    &:last-of-type .news-article-header {
      margin-top: 20px;
    }
  }

  .news-image {
    max-width: 100%;
  }

  .news-description {
    margin-bottom: 25px;
  }

  .app-header {
    margin-top: 90px;

    font-size: 20px;
  }

  .app-container {
    flex-wrap: wrap;
    gap: 50px;
    & .col:last-child {
      flex-basis: auto;
      flex-shrink: 1;
      order: -1;

      text-align: center;
    }
  }

  .app-image {
    max-width: 100%;
    margin-left: 0;
  }

  .app-description:first-child {
    margin-top: 0;
  }

  .app {
    margin-bottom: 96px;
  }
}

@media (max-width: $iphone-6) {
  .subscribe-item-header {
    margin-bottom: 163px;
  }
}