.subscribe-item {

  @media (max-width: $tablet) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: $iphone-6-plus) {
    padding-right: 20px;
    padding-left: 20px;

    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
  }

  @media (max-width: $mobile) {
    margin-bottom: 0;
  }

  max-width: 350px;
  &:first-child {
    max-width: 352px;
  
    background-image: url("../images/subscribe_1.png");
  }
  &:nth-child(2) {
    background-image: url("../images/subscribe_2.png");
  }
  &:last-child {
    background-image: url("../images/subscribe_3.png");

    @media (max-width: $iphone-6-plus) {
      margin-bottom: 50px;
      padding-right: 15px;
      padding-left: 15px;
      .subscribe-link {
        max-width: 240px;
      }
    }
    @media (max-width: $mobile) {
      margin-bottom: 0; 
    }
  }
}

.subscribe-link {
  min-height: 68px;

  @media (max-width: $iphone-6-plus) {
    min-height: 55px;

    font-size: 12px;
  }
}

@media (max-width: $desktop) {
  .subscribe-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0;
    row-gap: 50px;
  }
}

@media (max-width: $tablet) {
  .subscribe-list {
    justify-content: space-between;
  }
}

@media (max-width: $iphone-6-plus) {
  .subscribe-header {
    font-size: 20px;
  }

  .subscribe-list {
    justify-content: center;
  }

  .subscribe-item-header {
    margin-top: 20px;
    margin-bottom: 243px;

    font-size: 16px;
  }

  .subscribe-item-description {
    margin-top: 41px;
    margin-bottom: 15px;
  }

  .subscribe-description {
    margin-top: 0;

    font-size: 12px;
  }
}

@media (max-width: $iphone-6) {
  .subscribe-item-header {
    margin-bottom: 163px;
  }
}