$white: #fff;
$dark-gray: #3c3b3d;
$gray: #808080;
$light-gray: #cacaca;
$transparent-white: rgba(255, 255, 255, 0.1);
$green: #34c176;
$black: #08020d;
$dark-grey: #555;
$grey: #8c8c8c;
$light-grey: #e9e9e9;
$orange: #f89202;
$red: #ff4157;
$dark-silver: #b8b8b8;
$silver: #EEEEEE;
$violet: #5328a1;
$brown: #95390c;
$desktop: 1279px;
$tablet-landscape: 1024px;
$tablet: 768px;
$iphone-6-plus: 425px;
$iphone-6: 375px;
$mobile: 320px;